<div class="layout layout--row layout--stretch">
  <!-- Left Column: Artwork -->
  <div class="flex flex--col flex--center-x" style="height: 100%; width: 100%;">
    <div style="flex: 1 1 auto; display: flex; align-items: center; justify-content: center; min-height: 0; overflow: hidden;">
      <img
        src={{ pokemon_data.artwork }}
        alt="pokemon Artwork"
        class="image-dither"
        style="max-height: 100%; object-fit: contain;" />
    </div>

    <div class="flex flex--center-x" style="flex-shrink: 0; margin-bottom: 4px;">
      <span class="value value--xxsmall" data-value-fit="true" style="font-weight: bold; text-align: center;">{{ pokemon_data.name }}</span>
    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/2/23/Pok%C3%A9_Ball.svg" />
  <span class="title">Who's That Pokémon?</span>
</div>
