<div class="layout layout--row layout--stretch">
  <!-- Left Column: Artwork -->
  <div class="flex flex--col flex--stretch flex--center-x flex--center-y h-full">
    <div class="flex flex--center-x" style="max-height: 80%; width: auto;">
      <img 
        src={{ pokemon_artwork }} 
        alt="pokemon Artwork" 
        class="image-dither" />
    </div>

    <!-- Pokémon Name -->
    <div class="flex flex--center-x">
      <span class="value value--xxsmall" data-value-fit="true" style="font-weight: bold;">{{ pokemon_name }}</span>
    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/2/23/Pok%C3%A9_Ball.svg" />
  <span class="title">Who's That Pokémon?</span>
</div>